@import "variables";

@mixin text($color, $font-weight, $font-size, $line-height) {
  color: $color;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line_height;
}

@mixin basic-input {
  @include text($color-dark-gray-strong, 400, 16px, 19px);
  margin: 0;
  outline: none;
  border: none;
  padding: 0 0 7px 0;
  border-bottom: 1px solid $color-dark-gray-basic;
  background-color: transparent;
}

@mixin basic-input-focus {
  caret-color: $color-light-blue;
  border-color: $color-light-blue;
}

