$color-white: #FFF;
$color-light-gray-basic: #E5E5E5;
$color-light-gray-medium: #c9c9c9;
$color-gray: #A5A5A5;
$color-dark-gray-basic: rgba(0, 0, 0, 0.3);
$color-dark-gray-medium: rgba(0, 0, 0, 0.4);
$color-dark-gray-strong: rgba(0, 0, 0, 0.87);
$color-black: #000;
$color-blue: #2962FF;
$color-light-blue: #347CFF;
$font-roboto: 'Roboto', sans-serif;
