@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.box {
  width: 78px; // для перехода с 9 на 10 страницу
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 32px;

  span {
    @include text($color-black, 500, 16px, 32px);
  }
}

.right-arrow {
  transform: rotate(-180deg);
}

.leftArrowDisabled {
  opacity: 0.3;
}
