<div class="page">
  <div class="listBox">
    <span class="title">Anime list</span>
    <div class="list">
      <div *ngFor="let item of filteredList">
        <FilteredList-item
          [isLoading]="isLoading"
          [item]="item">
        </FilteredList-item>
      </div>
    </div>
    <FilteredList-pagination
      [currentPage]="filter.pagination.currentPage"
      [hasNextPage]="filter.pagination.hasNextPage"
      (handlerNextPage)="goToNextPage()"
      (handlerPreviousPage)="goToPreviousPage()">
    </FilteredList-pagination>
  </div>
  <FilteredList-filter
    class="filter"
    (filterBySearch)="filterByName($event)"
    (filterByFormat)="filterByFormat($event)"
    (filterByType)="filterByType($event)">
  </FilteredList-filter>
</div>
