@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.itemList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-gray;
}

.itemTitleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}

.itemTitle {
  @include text($color-dark-gray, 500, 20px, 32px);

  margin: 0;
}

.attributesRow {
  display: flex;
  flex-direction: row;
  margin: 29px 0;
  gap: 104px;
}
