@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.itemList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-gray;
}

.loader {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-light-gray-medium;
}

.itemTitleBox {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}

.itemTitle {
  @include text($color-dark-gray-strong, 500, 20px, 32px);
  margin: 0; // normalizer
}

.attributesRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(82px, auto);
  align-items: center;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.preloader {
  border-radius: 8px;
  background-color: $color-light-gray-medium;
  color: $color-light-gray-medium;
  width: 20%;
}
