<div [class.itemList]="item.title.english !== ''">
  <div [class.itemTitleBox]="item">
    <h3 [class.itemTitle]="item.title.english !== ''"
        [class.preloader]="!item.title.english"
    >
      {{item.title.english ? item.title.english : 'title'}}
    </h3>
    <img [class.arrowIcon]="item"
         src='../../../../../assets/icons/arrow-right.svg'
         alt="open card"/>
  </div>
  <div [class.attributesRow]="item">
    <attribute [typeText]="'Формат'" [valueText]="item.format"></attribute>
    <attribute [typeText]="'Год выпуска'" [valueText]="item.startDate.year"></attribute>
  </div>
</div>
