@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.itemList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color-gray;
}

.itemTitleBox {
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}

.itemTitle {
  @include text($color-dark-gray-strong, 500, 20px, 32px);
  //background-color: transparent;
  margin: 0;
}

.attributesRow {
  display: flex;
  flex-direction: row;
  margin: 29px 0;
  gap: 104px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.preloader {
  border-radius: 8px;
  background-color: $color-light-gray-medium;
  color: $color-light-gray-medium;
  width: 256px;
}
