@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.filterBox {
  width: 393px;
  height: 100%;
  padding: 52px 32px 0 32px;
  display: flex;
  flex-direction: column;
  background: $color-white;
  border-left: 1px solid $color-gray;
}

.title {
  @include text($color-dark-gray, 500, 28px, 32px);

  margin-bottom: 40px;
}

.checkboxListItem {
  @include text($color-black, 400, 16px, 19px);
}

.radioListItem {
  @include text($color-dark-gray, 400, 16px, 19px);
}

.checkboxList {
  display: flex;
  flex-direction: column;
  border: none;
  background: $color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.16);
}

.checkboxListHeader {
  display: flex;
  flex-direction: column;
  input {
    border: none;
  }
}

.radioList {
  display: flex;
  flex-direction: column;
  border: none;
}
