@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.filterBox {
  width: 393px;
  height: 100%;
  padding: 52px 32px 0 32px;
  display: flex;
  flex-direction: column;
  background: $color-white;
  border-left: 1px solid $color-gray;
}

.title {
  @include text($color-dark-gray, 500, 28px, 32px);

  margin-bottom: 40px;
}
