<div [class.filterBox]="filter">
  <span [class.title]="filter">Фильтры</span>
  <input placeholder="Название..."/>
  <div>
    <div [class.checkboxListHeader]="filter">
      <label>Формат</label>
      <input placeholder="Выбрано: 0"/>
    </div>
    <fieldset [class.checkboxList]="filter">
      <div>
        <input type="checkbox"/>
        <label [class.checkboxListItem]="filter">MOVIE</label>
      </div>
      <div>
        <input type="checkbox"/>
        <label [class.checkboxListItem]="filter">TV</label>
      </div>
    </fieldset>
  </div>
  <div>
    <span>Тип</span>
    <fieldset [class.radioList]="filter">
      <div>
        <input type="radio"/>
        <label [class.radioListItem]="filter">Аниме</label>
      </div>
      <div>
        <input type="radio"/>
        <label [class.radioListItem]="filter" >Манга</label>
      </div>
    </fieldset>

  </div>

</div>
