<div [class.filterBox]="filter">
  <span [class.title]="filter">Фильтры</span>
  <input type="text" placeholder="Название..." [class.text]="filter"/>
  <div>
    <div [class.checkboxListHeader]="filter">
      <label>Формат</label>
      <input type="text" placeholder="Выбраны 0"/>
    </div>
    <fieldset [class.checkboxList]="filter">
      <div [class.checkboxListItem]="filter">
        <input type="checkbox"/>
        <label>MOVIE</label>
      </div>
      <div [class.checkboxListItem]="filter">
        <input type="checkbox"/>
        <label>TV</label>
      </div>
    </fieldset>
  </div>
  <div [class.radioListBox]="filter">
    <span>Тип</span>
    <fieldset [class.radioList]="filter">
      <div [class.radioListItem]="filter">
        <input type="radio" name="choice"/>
        <label>Аниме</label>
      </div>
      <div [class.radioListItem]="filter">
        <input type="radio" name="choice"/>
        <label>Манга</label>
      </div>
    </fieldset>

  </div>

</div>
