@import "src/app/core/styles/_variables";

.box {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.typeSpan {
  color: $color-dark-gray;

  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.valueSpan {
  color: $color-blue;

  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
