@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.box {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.typeSpan {
  @include text($color-dark-gray-strong, 400, 16px, 24px);
}

.valueSpan {
  @include text($color-blue, 400, 16px, 24px);
}
