@import "src/app/core/styles/_variables";

.page {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.listBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 64px;
}

.title {
  color: $color-dark-gray;
  margin-top: 52px;
  margin-bottom: 64px;
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 64px;
}
