@import "src/app/core/styles/_variables";
@import "src/app/core/styles/_mixins";

.page {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.listBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 64px;
}

.title {
  @include text($color-dark-gray, 500, 28px, 32px);

  margin-top: 52px;
  margin-bottom: 64px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-right: 64px;
}
