$background: #E5E5E5;
$title: rgba(0, 0, 0, 0.87);
$Roboto: 'Roboto', sans-serif;

body {
  display: flex;
  flex-direction: column;
  margin-left: 64px;
}

.title {
  color: $title;

  margin-bottom: 64px;

  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-right: 64px;
}

.itemList {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #A5A5A5;
}

.itemTitleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 23px;
}

.itemTitle {
  color: $title;
  padding: 0;
  margin: 0;

  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.arrowIcon {
}

.descriptionBox {
  display: flex;
  flex-direction: row;
  margin: 29px 0;
}

.descriptionCol1 {
  display: flex;
  flex-direction: row;
  gap: 104px;
}

.descriptionCol2 {
  position: absolute;
  left: 26.93%;

  display: flex;
  flex-direction: row;
  gap: 104px;
}

.attrName {
  color: $title;

  font-family: $Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.attrValue {
  color: #2962FF;

  font-family: $Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pagBox {
  display: flex;
  flex-direction: row;
  gap: 26.7px;
  margin-top: 52px;
}

.pagPageNum {
  font-family: $Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
