<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Anime list</title>
</head>
<body>
  <div>
    <h1>Anime list</h1>
  </div>
  <div *ngFor="let item of filteredList">
    <div [class.itemList]="item">
      <div [class.titleBox]="item">
        <h3 [class.title]="item">
          {{item.title.english}}
        </h3>
        <a>
          <img [class.arrowIcon]="item" src="" alt="open card"/>
        </a>
      </div>
      <div [class.descriptionBox]="item">
        <div [class.firstCol]="item">
          <span [class.attrName]="item">Формат</span>
          <span [class.attrValue]="item">
            {{item.format}}
          </span>
        </div>
        <div [class.secondCol]="item">
          <span [class.attrName]="item">Год выпуска</span>
          <span [class.attrValue]="item">
            {{item.startDate.year}}
          </span>
        </div>
      </div>
      <br/>
    </div>
  </div>
</body>
</html>
