<div [class.page]="filteredList">
  <div [class.listBox]="filteredList">
    <span [class.title]="filteredList">Anime list</span>
    <div [class.list]="filteredList">
      <div *ngFor="let item of filteredList">
        <filtered-list-item [item]="item"></filtered-list-item>
      </div>
    </div>
    <filtered-list-pagination
      [currentPage]="currentPage"
      [hasNextPage]="hasNextPage"
      (handlerNextPage)="getNextPage()"
    ></filtered-list-pagination>
  </div>
  <filtered-list-filter [class.filter]="filteredList"></filtered-list-filter>
</div>
